!!! 5
%html
%head
  %title Jobs Board
  %meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .navbar-brand= link_to "Jobs Board", root_path
        .collapse.navbar-collapse#navbar-collapse
          - if user_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "New Job", new_job_path
              %li= link_to "Sign Out", destroy_user_session_path,   method: :delete
              %li.nav-welcome
                Welcome: 
                = current_user.email
          - else
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "Sing Up", new_user_registration_path
              %li= link_to "Sing In", new_user_session_path
          %ul.nav.navbar-nav.navbar-right
            %li
              = form_tag jobs_path, method: :get, local: true, class: 'input-group'  do
                = text_field_tag(:q ,"" , placeholder: "  Search .. ", class: 'Search')
                = submit_tag("Search", name: nil, class: "btn btn-sm btn-default")
          %ul.nav.navbar-nav.navbar-left.category-nav
            %li.dropdown
              %a.dropdown-toggle.capitalize-name{"data-toggle" => "dropdown", :href => "#", "aria-expanded" => "true"}
                Category
                %b.caret
              %ul.dropdown-menu
                %li= link_to "All Jobs", jobs_path
                - Category.all.each do |category|
                  %li= link_to category.name, jobs_path(category: category.name)
            
            
                
    .container-fluid
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert"
      = yield 

%script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' }
%script{ :src => '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js' }


